.agenda-container {
  background: linear-gradient(rgba(#fff, 0.95), rgba(#fff, 0.8)),
    url("../img/services.jpg") no-repeat center center;
  background-size: cover;
  padding: 2rem 0;
  h2 {
    text-align: center;    
  }
  .agenda-rooms {
    width: 80%;
    margin: 0 auto;
    p{
        padding-bottom: 0.5rem;
    }
    li{
        list-style: none outside;
    }
    a{
        font-weight: bold;
        color:var(--color-text-main, #000);
        border-radius: 0.3rem;
        padding: 0.3rem 0.5rem;
    }
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(8, 1fr);
    font-weight: bold;

    .box {
      background: rgba(202, 253, 167, 0.5);
      border: 1px solid var(--color-text-main, #000);
      color: var(--color-text-main, #000);
      border-radius: 0.3rem;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      text-align: center;
    }
    .hours {
      grid-row: 2/6;
      grid-column: 2;
      background: var(--color-text-theme, rgb(89, 214, 5));
    }
    .hours2 {
      grid-row: 6/10;
      grid-column: 3;
      background: var(--color-text-theme, rgb(89, 214, 5));
    }
    .hours3 {
      grid-row: 3/9;
      grid-column: 4;
      background: var(--color-text-theme, rgb(89, 214, 5));
    }
    .hours4 {
      grid-row: 2/6;
      grid-column: 6;
      background: var(--color-text-theme, rgb(89, 214, 5));
    }
    .hours5 {
      grid-row: 6/10;
      grid-column: 7;
      background: var(--color-text-theme, rgb(89, 214, 5));
    }
    .hours6 {
      grid-row: 3/9;
      grid-column: 8;
      background: var(--color-text-theme, rgb(89, 214, 5));
    }
  }
}
