.button {
  display: inline-block;
  outline: none;
  border: 0;
  text-decoration: none;
  padding: 0;
  font-size: 0.9rem;
  line-height: 1;
  letter-spacing: 0.05rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--color-text-theme, rgb(89, 214, 5));
  color: var(--color-text-second, #fff);
  border-radius: 1.6rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  text-shadow: 0px 0px 2px rgba(var(--color-text-second, #fff), 0.5);
  span.fas {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 0.3rem;
    color: var(--color-text-second, #fff);
    
  }
  &:hover,
  &:focus {
    border-color: transparent;
    background: var(--color-text-theme, rgb(89, 214, 5));
  }
}
