body {
  /*color: var(--color-text-main);*/
}

.site {
}

.site-content {  
  color: black;
  max-width: 100%;
  margin: 0 auto;
  /*background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/

 
  p.picture {
    max-width: 70%;
    height: 35rem;
	  margin-bottom: 1rem;
  	margin: 0 auto;
	  margin-bottom: 2rem;
  }
  a{
	  font-weight: bold;
	  color: rgb(89, 214, 5);
  }

  h2 {
    text-align: center;
    font-weight: 500;
    padding: 2rem 2rem 2rem 0;
  }
  p.picture.book {
    background: url("../img/book.jpg") no-repeat center center;
    background-size: contain;
  }
  p.picture.maya {
    background: url("../img/before_after_woman.jpg") no-repeat center center;
    background-size: contain;
  }
}
body.как-да-отслабна .site-content,
body.промяната-на-мая-бояджиева .site-content,
body.здравословни-десерти .site-content{
	padding: 0 5rem 0 5rem;
}
body.home .mini-site-header{
	display: none;
}
body.как-да-отслабна .mini-site-header,
body.промяната-на-мая-бояджиева .mini-site-header,
body.здравословни-десерти .mini-site-header{
  display: none;
}
/*body p:first-child {
}

body.login .site-header{
	display: none;
}
body.login{
	height: 100vh;
	overflow: hidden;
	display: flex;
	padding-top: 0;

	
	
}
body.login .site{
	flex: 1 0 auto;
	background: #EEE;
	border: 4rem solid #FFF;	
	align-items: center;
	justify-content: space-between;
	display: flex;
}*/
