nav.main {
  align-self: center;
  border-top: 1px solid rgb(255,255,255);
  letter-spacing: 0.05rem;
}

nav.main ul {
  background: transparent;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0;
}

nav.main ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -0.5rem;
  width: 10rem;
}

nav.main ul ul ul {
  top: -0.5rem;
  right: 100%;
  left: inherit;
}

nav.main ul li {
  display: block;
  list-style: none outside;
  position: relative;
}

nav.main > ul > li > ul li:not(:last-child) {
  padding-bottom: 0.5rem;
}

nav.main > ul > li {
  padding: 0 0.5rem 0 0;
}

nav.main ul li:hover > a {
}

nav.main ul li a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  text-decoration: none;  
  font-weight: bold;
  background: #333;
  color: rgb(255,255,255);
}

nav.main ul li a:hover,
nav.main ul li:hover > a {
  background: rgb(89, 214, 5);
  /*box-sizing: border-box;*/
  color: rgb(0,0,0);
  font-weight: bold;
}

#main-nav-toggle,
#toggle {
  display: none;
}

#toggle {
  position: relative;
  flex: 1 0 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1rem 0;
  
  &:hover{
    color: rgb(89, 214, 5);
    animation: shake 0.5s ease-in-out;
  }
}

#toggle:before {
  display: block;
  content: "";
  position: relative;
  padding-right: 0.3rem;
  font-weight: bold;
}

@media screen and (max-width: 860px) {
 
  nav.main ul li a {
    background: #333;
    font-weight: 400;
  }
  #toggle {
    display: flex;
    margin: 0 auto;
    color: white;
  }
  /*#toggle:after {
    content: "\f0c9";
    display: block;
    font-family: "FontAwesome";
    text-align: center;
    line-height: 50px;
  } last*/

  nav.main {
    display: none;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }

  nav.main ul li:not(:first-child) {
    padding-top: 0.5rem;
  }

  #main-nav-toggle:checked + header nav.main {
    display: block;
    flex: 1 0 100%;
    ul li {
      animation: loadMenu 0.5s 1 both;
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.15s;
        }
      }
    }
  }

  /*#main-nav-toggle:checked + header #toggle:after {
    content: " X" ;
  } last*/
}

@media screen and (min-width: 861px) {
  nav.main ul {
    display: flex;
  }

  nav.main ul li:hover > ul {
    display: block;
  }
}

