table {
  width: 90%;
  margin: 0 auto;
  table-layout: fixed;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-text-theme, rgb(89, 214, 5));
  border-spacing: 10px;
  border-collapse: collapse;
  color: var(--color-text-theme, rgb(89, 214, 5));
  td,
  th {
    text-align: left;
    background: rgba(202, 253, 167, 0.5);
    padding: 0 0 0 0.5rem;
    border: 1px solid #eee;
  }
  tr:nth-child(odd) td {
    background: var(--color-text-second, #fff);
  }
  tr:hover td {
    background: var(--color-text-theme, rgb(89, 214, 5));
    color: var(--color-text-second, #fff);
    border-color: transparent;
  }
}


