body.services .site-header,
body.food-program .site-header,
body.training-program .site-header {
  display: none;
}
body.services .site-text,
body.food-program .site-text,
body.training-program .site-text{
    display: block;
}
body.services .site-content,
body.food-program .site-content,
body.training-program .site-content{
    padding: 0;
}
body.services nav.main ul li a,
body.food-program nav.main ul li a,
body.training-program nav.main ul li a{
    background: #000;    
}
body.services nav.main,
body.food-program nav.main,
body.training-program nav.main{
    z-index: 1000;    
}

body.training-program .site-content {
  background: linear-gradient(rgba(#fff, 0.8), rgba(#fff, 0.9)),
    url("../img/fitness.jpg") no-repeat center center;
  background-size: cover;
  color: black !important;
  font-weight: normal;
}
body.food-program .site-content {
  background: linear-gradient(rgba(#fff, 0.8), rgba(#fff, 0.9)),
    url("../img/food.jpg") no-repeat center center;
  background-size: cover;
  color: black !important;
  font-weight: normal;
}
body.services .site-content {
    background: linear-gradient(rgba(#fff, 0.8), rgba(#fff, 0.9)),
      url("../img/services.jpg") no-repeat center center;
    background-size: cover;
    color: black !important;
    font-weight: normal;
}
.food-pictures,
.training-pictures {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &  p {
    border-radius: 0.3em;
    padding-bottom: 0;
    display: block;
    position: relative;
    flex: 0 0 40%;
    height: 20rem;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
.training-pictures p:nth-child(1) {
  background: url("../img/gena_training_page.jpg") no-repeat center;
  background-size: cover;
}
.training-pictures p:nth-child(2) {
  background: url("../img/gena_training_page2.jpg") no-repeat center;
  background-size: cover;
}
.food-pictures p:nth-child(1) {
  background: url("../img/food1.jpg") no-repeat center;
  background-size: cover;
}
.food-pictures p:nth-child(2) {
  background: url("../img/food2.jpg") no-repeat center;
  background-size: cover;
}
.food .text,
.training .text {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.food .text article,
.training .text article {
  flex: 0 0 40%;
  padding: 1rem 0 1rem 0;
}
.services{
    table{
        width: 80%;
        margin: 0 auto;
        table-layout: fixed;
        margin-bottom: 1.5rem;
        border: 1px solid rgb(17,17,79);
        border-spacing: 10px;
        border-collapse: collapse;
        color:rgb(17,17,79);   
    }
    table td, table th{
        text-align: left;
        background: rgba(17,17,79,0.1);
        padding: 0 0 0 0.5rem;
    }
    table tr:nth-child(odd) td{
        background: rgb(255,255,255);
    }
    table tr:hover td{
        background: rgb(17,17,79);
        color:#FFF;
        border-color: transparent;
    }
    
}
