:root {
	--font-size-initial: 12px;
	--font-size-lv2: 14px;
	--font-size-lv3: 16px;
	--font-size-lv4: 18px;

	--spacing-site: 2rem;

	--color-text-main: #000;
	--color-text-second:#fff;
	--color-text-theme: rgb(89, 214, 5);
}
/*var(--color-text-second, #fff);*/
/*var(--color-text-main, #000);*/
/*var(--color-text-theme, rgb(89, 214, 5));*/