<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>{{ site.title }}</title>
</head>

<body class="{% if page.type %}{{page.type}} {% endif %}{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
    <div class="site">
        <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
        <header class="site-header">
            <div class="contacts">
                <div class="site-branding">
                    <div class="site-branding-logo-icon">
                        <a href="{{ site.baseurl }}/">
                            <p class="site-title fab fa-gg"></p>
                        </a>
                    </div>
                    <div class="site-branding-logo-text">
                        <p class="site-branding-description">Персонален фитнес инструктор</p>
                        <p class="site-branding-name">GENADI GENADIEV</p>
                    </div>

                </div>
                <ul>
                    <li><a class="fab fa-facebook-f" href="https://www.facebook.com"></a></li>
                    <li><a class="fab fa-instagram" href="https://www.instagram.com/?hl=bg"></a></li>
                    <li><a class="fab fa-twitter" href="https://twitter.com"></a></li>
                    <li><a class="fas fa-mobile-alt" href="#"> 0899 356 547</a></li>
                </ul>
            </div>

            <label for="main-nav-toggle" id="toggle">Menu</label>

            <nav class="main">
                <ul>
                    <li><a href="{{ site.baseurl }}/">Начало</a></li>
                    <li><a href="{{ site.baseurl }}/services/">Услуги</a>
                        <ul>
                            <li><a href="{{ site.baseurl }}/trainingProgram/">Тренировъчна програма</a>
                            <li><a href="{{ site.baseurl }}/foodProgram/">Хранителен режим</a>
                        </ul>
                    </li>
                    <li><a href="{{ site.baseurl }}/clients/">Доволни клиенти</a></li>
                    <li><a href="{{ site.baseurl }}/articles/">Статии</a></li>
                    <li><a href="{{ site.baseurl }}/recipes/">Рецепти</a></li>
                    <li><a href="{{ site.baseurl }}/about/">За мен</a>
                        <ul>
                                <li><a href="{{ site.baseurl }}/gallery/">Галерия</a>
                                <li><a href="{{ site.baseurl }}/agenda/">График</a>
                            </ul></li>
                    <li><a href="{{ site.baseurl }}/contacts-menu/">Контакти</a></li>
                </ul>
            </nav>
            <section>
                <p class="site-header-text"><span>Stop</span> wishing. <span>Start</span> doing.</p>
                <a href="{{ site.baseurl }}/services/"  class="button">
                    НАУЧИ ПОВЕЧЕ
                    <span class="fas fa-angle-right"></span>
                </a>
            </section>


        </header>

        <main class="site-content">     
                  
            {{content}}

        </main>
        <footer class="site-footer">
            <section class="site-footer-links">
                <h5>Линкове</h5>
                <ul>
                    <li><a href="{{ site.baseurl }}/">Начало</a></li>
                    <li><a href="{{ site.baseurl }}/services/">Услуги</a></li>
                    <li><a href="#">Рецепти</a></li>
                    <li><a href="#">Доволни клиенти</a></li>
                </ul>
            </section>
            <section class="site-footer-contacts">
                <h5>Контакт с мен</h5>
                <ul>
                    <li><a class="fas fa-mobile-alt" href="http://skype.com"> 00885 625 358</a></li>
                    <li><a class="fas fa-envelope" href="http://www.gmail.com"> g.genadiev@gmail.com</a></li>
                </ul>

            </section>
            <section class="site-footer-adress">
                <h5>Адрес</h5>
                <ul>
                    <li>София, България</li>
                    <li><a class="fas fa-map-marker-alt" href="https://www.google.com/maps/@42.6575139,23.3711347,15z"> Младост 1, 356</a></li>
                </ul>
            </section>
            <section class="site-footer-links-social">
                <h5>Последвай ме</h5>
                <ul>
                    <li><a class="fab fa-facebook-f" href="http://www.facebook.com"></a></li>
                    <li><a class="fab fa-instagram" href="https://www.instagram.com"></a></li>
                    <li><a class="fab fa-twitter" href="https://twitter.com"></a></li>
                </ul>
            </section>
        </footer>
    </div>

</body>

</html>